*{
    margin: 0;
    padding: 0;
}
.box{
    border: 2px solid orange;
    width: 300px;
    padding: 45px;
    margin: 30px;
    display: inline-block;
}
span{
    border: 2px solid orange;
}
.box1{
    visibility: hidden;
}
.box2{
    display: none;
}