.box{
    border: 2px solid red;
    margin: 45px;
    height: 40vh;
    text-align: center;
    box-shadow: 4px 12px 6px 4px #892e2e;
}
div>p{
    color: rgb(23 110 9);
    text-shadow: 5px 4px 7px rgb(52 251 76);
}
.box1{
    border: 2px solid red;
    border-radius: 50px;
    outline: 2px solid green;
    outline-offset: 10px;
    text-align: center;
    margin: 45px;
    height: 60vh;
}