:root{
    --primaryColor: gray;
    --secondaryColor: whitesmoke;
    --textColor: white;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--secondaryColor);
}
header{
    background-color: var(--primaryColor);
    height: 2vw;
    padding: 1vw;
}
header>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 2vw;
}
nav{
    background-color: var(--primaryColor);
    margin: 0;
    padding: 0;
    width: auto;
    position: sticky;
    top: 0vh;
    left: 0vw;
    z-index: 10
    
}
nav ul li{
    list-style-position: inside;
    list-style: none;
    margin: 1.5vw;
    color: var(--textColor);
    /* border: 2px solid red; */
}
nav ul li a{
    color: var(--textColor);
    text-decoration: none;
}
nav ul{
    display: flex;
    border-top: 0.1vw solid var(--secondaryColor);
}
.box{
    margin: 0;
    background-color: var(--textColor);
    border-radius: 2vw;
    height: 80vh;
    width: 40vw;
    display: inline-block; 
    padding: 0.5vw;
    margin: 2vw;
    overflow: hidden;
    position: relative;
    
}
.box1{
    left: 0vw;
    color: red;
}

.box2{
    right: 0vw;
}
