:root{
    --baseColor: gray;
    --foreColor: lightblue;
    --bgColor: whitesmoke;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bgColor);
}
header{
    background-color: var(--baseColor);
    height: 2vw;
    padding: 1vw;
}
header>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 2vw;
}
nav{
    background-color: var(--baseColor);
    margin: 0;
    padding: 0;
    width: auto;
    position: sticky;
    top: 0vh;
    left: 0vw;
    z-index: 10
    
}
nav ul li{
    list-style-position: inside;
    list-style: none;
    margin: 1.5vw;
    color: var(--foreColor);
    /* border: 2px solid red; */
}
nav ul{
    display: flex;
    border-top: 0.1vw solid var(--bgColor);
}
